:root {
  --background-color: #18121e;
  --secondary-color: #eac67a;
}

html {
  width: 100%;
}

body {
  font-family: "EB Garamond", serif;
  margin: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: justify;
}

#menu {
  display: flex;
  
}

main {
  max-width: 400px;
}

nav {
  flex-direction: column;
  display: flex;
}

@media only screen and (min-width: 720px) {
  main {
    max-width: 600px;
  }
  nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    max-width: 80%;
  }
  nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#title h1 {
  border-bottom: 3px solid var(--secondary-color);
  width: max-content;
}

nav {
  position: sticky;
  top: 0;
  padding-block: 10px;
  display: flex; 
  justify-content: space-around;
  background-color: var(--background-color);
}

nav a {
  color: white;
}

section {
  padding-block-end: 25px;
  background-color: #5a352a;
  margin-block: 25px;
  padding-inline: 25px;
}

section > header > h2 {
  margin-top: 50px;
  display: inline-block;
  text-align: left;
  border-bottom: 3px solid var(--secondary-color);
}

#icons {
  display: flex;
  justify-content: space-between;
}

#main-footer {
  padding-block: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
